<p-table
  class="ui-g-12"
  [value]="usuarios"
>
  <ng-template pTemplate="header">
    <tr>
      <th>Nome</th>
      <th>Email</th>
      <th>Ações</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-usuario>
    <tr>
      <td>{{usuario.nome}}</td>
      <td>{{usuario.email}}</td>
      <td>
        <button
          pButton
          type="button"
          icon="ui-icon-edit"
          class="ui-button-info"
          (click)="editUser(usuario.id)"></button>
        <button
          pButton
          type="button"
          icon="ui-icon-delete"
          class="ui-button-danger"
          (click)="confirmacaoDeletar(usuario.id)"></button>
      </td>
    </tr>
  </ng-template>
</p-table>
